body {
  font-size: 15px;
}

.dropdown-toggle::after {
  display: none;
}

.small {
  font-size: 100%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.required-field::before {
  content: "*";
  color: red;
  padding-right: 2px;
}

.top-0 {
  top: 0 !important;
}

.start-100 {
  left: 100% !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}